@import "./colors.css";

@import "./layout.css";
@import "./button.css";
@import "./input.css";
@import "./modal.css";
@import "./icon-div.css";

@import "./header.css";

@import "playlist-grid.css";

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--PRIMARY_COLOR);
    color: var(--TEXT_COLOR);
}