header {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    background-color: var(--SECONDARY_COLOR);

    border-bottom: solid 0.2rem var(--SHADOW_COLOR);

    img {
        width: 10vw;
        margin: 0;

        filter: drop-shadow(0 0.5rem 1rem var(--SHADOW_COLOR));
    }

    nav {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;

        a {
            color: var(--ACCENT_COLOR);
        }
    }

}

@media (max-width: 768px) {
    header img {
        width: 50vw;
    }
}